$clr-primary: hsl(220, 98%, 61%);
$clr-back-linear: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

//Light Theme colors
$clr-light-gray-v: hsl(0, 0%, 98%);
$clr-light-blue-gray-v: hsl(236, 33%, 92%);
$clr-light-blue-gray: hsl(236, 9%, 61%);
$clr-light-blue-gray-d: hsl(235, 19%, 35%);


//Dark Theme
$clr-blue-d-v: hsl(235, 21%, 11%);
$clr-blue-d-ds: hsl(235, 24%, 19%);
$clr-blue-gray-l: hsl(234, 39%, 85%);
$clr-blue-gray-l-hv: hsl(236, 33%, 92%);
$clr-blue-gray-d: hsl(234, 11%, 52%);
$clr-blue-gray-d-v: hsl(233, 14%, 35%);
$clr-blue-gray-d-v-hv: hsl(237, 14%, 26%);



$clr-white: #fff;

$clr-shadow: hsl(235, 21%, 6%);
